<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세페이지</title>
</head>
<body>
    <%- include("header.ejs",{title:"게시판 목록 페이지",cssFiles:["freeList.css","header.css","footer.css"]})%>


    <div class="top">
        <img src="/img/sub_top.jpg">
    </div>


    <div class="center">
        <div>
            <div><%-data.title%></div>
            <div><%-data.author%></div>
        </div>
        
        <div><%-data.content%></div>


        <a href="/free/list">목록페이지로</a>
        <a href="#">수정화면 페이지로</a>
        <a href="/dbdelete/<%-data.num%>">삭제처리</a>
    </div>

    
    


    <%-include("footer.ejs")%>
</body>
</html>